<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;800;900&display=swap"
            rel="stylesheet"
        />

        <link rel="stylesheet" href="/css/style.css" />

        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"
            referrerpolicy="no-referrer"
        ></script>
        <script src="/js/vendor.js" defer></script>

        <title>Model Name</title>
    </head>

    <body>
        <div id="preloader">
            <div id="loader"></div>
        </div>

        <header>
            <div class="row">
                <div class="logo">
                    <a href="/">Modelistic</a>
                </div>
            </div>
        </header>

        <section id="home" class="home-particles">
            <div class="shadow-overlay"></div>

            <div class="content-wrap-table">
                <div class="main-content-tablecell">
                    <div class="row">
                        <div class="col-twelve">
                            <div id="counter">
                                <span>Modelistic</span>
                            </div>

                            <div class="bottom-text">
                                <h1>Name of the ML Model</h1>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa hic impedit
                                    deserunt nostrum. Vel, modi.
                                </p>
                            </div>
                        </div>

                        <div class="scroll-icon">
                            <p class="scroll-text">Scroll For More Info</p>
                            <a href="#" class="smoothscroll">
                                <div class="mouse"></div>
                            </a>
                            <div class="end-top"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="model-details">
            <div class="model-details__abstract">
                <h1 class="model-details__title">Abstract</h1>

                <p class="model-details__text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur ullam asperiores
                    necessitatibus molestias, dignissimos soluta iste iure, enim mollitia et non reprehenderit
                    explicabo vero repellat similique! Quaerat eaque corrupti optio ea odio beatae ipsum dolor
                    molestiae ad magni! Eum incidunt deserunt ducimus dolorem, deleniti assumenda modi cum
                    excepturi ab magnam eos exercitationem doloremque blanditiis illum alias dolorum veritatis
                    omnis, sequi consequatur ad aut laudantium. Error eveniet earum maxime. Obcaecati harum
                    sunt autem enim id necessitatibus, eveniet accusamus numquam molestias nisi modi dolor
                    laborum, quas veritatis repudiandae! Inventore nobis vel quasi consequatur reiciendis
                    reprehenderit, soluta obcaecati, quo placeat, alias repellat corporis.
                </p>
            </div>

            <div class="model-details__code-working">
                <h1 class="model-details__title">Working of code</h1>

                <p class="model-details__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti numquam libero in et
                    quam similique non excepturi? Facilis atque numquam sit consequuntur nemo voluptatem
                    corrupti, ipsum non facere ducimus similique officiis, repudiandae saepe ad inventore
                    error a suscipit ipsa quis! Iure harum nobis similique, labore officiis eius tenetur quos
                    molestiae? Dolore earum provident molestias fugit vero voluptate atque iste quam
                    reiciendis consequatur sapiente temporibus expedita minima, dolor obcaecati et nam saepe
                    veniam harum quia ullam officiis ipsum! Ex eos harum expedita odio, veniam officia.
                    Laudantium, vel a rem fuga error cupiditate itaque consectetur id, velit facilis enim
                    incidunt sint architecto.
                </p>
            </div>

            <div class="model-details__dataset-description">
                <h1 class="model-details__title">Dataset description</h1>

                <p class="model-details__text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi ab officiis, eveniet
                    eum adipisci a officia! Reiciendis aspernatur perspiciatis esse quibusdam ad officia
                    distinctio ut minus molestias est earum quam voluptas corporis eos dolore vitae aperiam
                    omnis alias, magnam rem autem pariatur tenetur quaerat. Facere eveniet, dicta, quae beatae
                    dolorem vel quas pariatur dignissimos quidem fugit impedit iste molestias accusantium
                    ipsam quam recusandae veniam, ab nihil quos? Voluptas voluptatem magnam numquam at
                    aspernatur dicta quo exercitationem natus atque cum iste, neque architecto iusto
                    obcaecati, nihil soluta veritatis facere maiores! Natus doloribus ratione maiores vel enim
                    magni expedita earum, repellendus possimus!
                </p>
            </div>
        </section>

        <footer class="footer">
            <div class="footer__overlay"></div>

            <img class="footer__logo" src="/assets/images/logo.png" alt="Logo" />
            <h2 class="footer__title">Modelistic</h2>

            <p class="footer__text">
                Made and maintained by
                <a href="#" class="footer__link" target="_blank">Suriya KS</a>,
                <a href="#" class="footer__link" target="_blank">Amrith V</a>, and
                <a href="#" class="footer__link" target="_blank">Darshan S</a> &nbsp; | &nbsp; with credits to
                <a href="https://www.styleshout.com/" class="footer__link" target="_blank">styleshout</a>
            </p>
        </footer>
    </body>
</html>
