<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;800;900&display=swap"
            rel="stylesheet"
        />

        <link rel="stylesheet" href="/css/style.css" />

        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"
            referrerpolicy="no-referrer"
        ></script>
        <script src="/js/vendor.js" defer></script>

        <title>Model Name</title>
    </head>

    <body>
        <div id="preloader">
            <div id="loader"></div>
        </div>

        <header>
            <div class="row">
                <div class="logo">
                    <a href="/">Modelistic</a>
                </div>
            </div>
        </header>

        <section id="home" class="home-particles">
            <div class="shadow-overlay"></div>

            <div class="content-wrap-table">
                <div class="main-content-tablecell">
                    <div class="row">
                        <div class="col-twelve">
                            <div id="counter">
                                <span>Modelistic</span>
                            </div>

                            <div class="bottom-text">
                                <h1>Name of the ML Model</h1>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa hic impedit
                                    deserunt nostrum. Vel, modi.
                                </p>
                            </div>
                        </div>

                        <div class="scroll-icon">
                            <p class="scroll-text">Scroll For More Info</p>
                            <a href="#" class="smoothscroll">
                                <div class="mouse"></div>
                            </a>
                            <div class="end-top"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="footer__overlay"></div>

            <img class="footer__logo" src="/assets/images/logo.png" alt="Logo" />
            <h2 class="footer__title">Modelistic</h2>

            <p class="footer__text">
                Made and maintained by
                <a href="#" class="footer__link" target="_blank">Suriya KS</a>,
                <a href="#" class="footer__link" target="_blank">Amrith V</a>, and
                <a href="#" class="footer__link" target="_blank">Darshan S</a> &nbsp; | &nbsp; with credits to
                <a href="https://www.styleshout.com/" class="footer__link" target="_blank">styleshout</a>
            </p>
        </footer>
    </body>
</html>
