.model-card {
    border-radius: 0.4rem;
    box-shadow: 0 2rem 4rem $color-black;
    width: 28rem;
    height: 28rem;
    margin-bottom: 10rem;
    display: block;
    position: relative;
    cursor: pointer;
    perspective: 100rem;

    &:before {
        content: '';
        width: 28rem;
        height: 28rem;
        position: absolute;
        top: -1.6rem;
        left: -1.6rem;
        border: 0.2rem dashed $color-white;
        border-radius: 0.4rem;
        background-image: repeating-linear-gradient(
            -24deg,
            transparent,
            transparent 0.4rem,
            rgba($color-white, 0.5) 0,
            rgba($color-white, 0.5) 0.5rem
        );
        z-index: -1;
    }

    &__link {
        background-color: rgba($color-black, 0.8);
        border: 0.2rem solid $color-white;
        border-radius: 0.4rem;
        width: 100%;
        height: 100%;
        display: block;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 2.4rem;
            width: 1.6rem;
            height: 1.6rem;
            margin-top: -0.8rem;
            background-color: $color-white;
            opacity: 0;
            clip-path: polygon(75% 0, 100% 50%, 75% 100%, 0 100%, 25% 50%, 0 0);
            transition: opacity 0.5s ease-in, transform 0.3s ease-in-out 0ms;
        }
    }

    &__content {
        background-color: $color-white;
        color: $color-black;
        border: 0.2rem solid $color-white;
        border-radius: 0.4rem;
        padding: 1.6rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;

        &--left {
            clip-path: polygon(0 0, 51% 0, 51% 100%, 0 100%);
        }

        &--right {
            clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
            transition: transform 0.5s ease-in-out, background-color 0.4s ease-in-out;
        }
    }

    &__title {
        font-size: 3.2rem;
        font-weight: 700;
    }

    &__footer {
        margin-top: auto;
        font-size: 1.6rem;
        line-height: 1.6rem;
        display: flex;
        justify-content: space-between;
    }

    &__footer-content {
        font-weight: 700;
        transition: all 0.4s ease-in-out;
    }

    &__link:hover &__footer-content {
        transform: translateX(1rem);
    }

    &__link:hover &__content--right {
        background-color: $color-grey-light-1;
        transform: rotateY(-50deg);
    }

    &__link:hover:after {
        opacity: 1;
        transform: translateX(1.2rem);
        transition: opacity 0.5s ease-in, transform 0.3s ease-in-out 0.25s;
    }
}
